---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@media only screen and (min-width : 992px) {
  .container-sm { width: 720px; }
}

header a#blog-header {
    color: black;
}
header a#blog-header:hover {
    text-decoration: none;
}

header a.blog-menu {
    color: black;
    text-decoration: none;
}
header a.blog-menu:hover {
    text-decoration: none;
}
